<div>
  <h2 class="page-header">Study Hall</h2>
  <div class="row top-buffer">
    <div class="col-md-6 ">
      <h3>User stats</h3>
      <ul class="list-group" >
        <li class="list-group-item">Assignments turned in: {{turnedIn}} <br>
          Assignments passed: {{passed}} <br>
        Classes passed: 0 <br>
      </ul>
      <h4>Your xp:</h4>
      <div class="progress">
        <div #progress class="progress-bar" role="progressbar" [style.width]="xpWidth + '%'">
          {{myXp}}/{{totalXp}} XP
        </div>
      </div>
    </div>
  <div class="row top-buffer">
    <div class="col-md-6 ">
      <h3>Achievements</h3>
      <p>Check your achievements</p>
      <button [routerLink]="['/achievement']" type="button" class="btn btn-info btn-block">Achievements</button>
      <button [routerLink]="['/dashboard']" type="button" class="btn btn-info btn-block">Back</button>
    </div>
  </div>

    <div *ngIf="notDone" class="col-md-6">
      <h3>Assignments to hand in</h3>
      <div *ngFor="let cnd of notDone; let i = index" class="list-group" >
        <div class="list-group-item clearfix list-group-item-info">
          <span class="pull-right">
            <button id="notHandedIn" (click)="handedInAssignment($event)" value="{{i}}" type="button" class="btn btn-success btn-block">Hand in assignment</button>
          </span>
          <span>
            Course: {{cnd.course}}<br>
            Assignment: {{cnd.assignment}}<br>Turn in assignment: {{cnd.date}} <br>
            <strong>Passing assignment will award: 20 xp  </strong>
          </span>
        </div>
      </div>
      <div *ngIf="notDone.length === 0" class="list-group-item clearfix list-group-item-info">
        No assignments to turn in!
      </div>
    </div>

    <div *ngIf="correct" class="col-md-6">
      <h3>Assignments to correct</h3>
      <div *ngFor="let chi of correct; let i = index" class="list-group" >
        <div *ngIf="!chi.passed" class="list-group-item list-group-item-danger">
          <span class="pull-right">
            <button id="notCorrected" (click)="correctAssignment($event)" value="{{i}}" type="button" class="btn btn-success btn-block">Correct assignment</button>
          </span>
          <span>
            Course: {{chi.course}}<br>
            Assignment: {{chi.assignment}}<br>
            Message: {{chi.msg}}<br>
            <strong>Passing assignment will award: 20 xp  </strong>
          </span>
        </div>
      </div>
      <div *ngIf="correct.length === 0" class="list-group-item clearfix list-group-item-danger">
        No assignments to correct!
      </div>
    </div>

    <div *ngIf="handedIn" class="col-md-6">
      <h3>Assignments waiting to be assessed</h3>
      <div *ngFor="let chi of handedIn; let i = index" class="list-group" >
        <div *ngIf="!chi.passed" class="list-group-item list-group-item-warning">
          <span>
            Course: {{chi.course}}<br>
            Assignment: {{chi.assignment}}<br>
            Message: "To be assessed"<br>
            <strong>Passing assignment will award: 20 xp  </strong>
          </span>
        </div>
      </div>
      <div *ngIf="handedIn.length === 0" class="list-group-item clearfix list-group-item-warning">
        No assignments waiting to be assessed!
      </div>
    </div>



    <div *ngIf="done" class="col-md-6">
      <h3>Assignments complete</h3>
      <ul *ngFor="let chi of done" class="list-group" >
        <li *ngIf="chi.passed" class="list-group-item list-group-item-success">Course: {{chi.course}}<br>
        Assignment: {{chi.assignment}}<br>
        Message: {{chi.msg}}<br>
        Awarded: 20 xp</li>
      </ul>
    </div>

  </div>
</div>
