/* Small devices (tablets, 768px and up) */
.name{
  text-align: center;
}
#cMove{
  text-align: center;
}
#pMove{
  text-align: center;
}

.btn-group{
  padding: 2%;
}
.container{
  background-image: url("https://webshare.mah.se/ae3529/winter.jpg");
}

@media(max-width:767px){
  #imgPlayer1{
    width: 15%;
    margin: auto;
    display: block;
    padding-top: 2%;
  }
  #imgPlayer2{
    width: 15%;
    margin:auto;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
  }

}

@media(min-width:767px){
  #imgPlayer1{
    width: 30%;
    margin: auto;
    display: block;
    padding-top: 2%;
  }
  #imgPlayer2{
    width: 30%;
    margin:auto;
    display: block;
    padding-top: 2%;
  }
}
