.top-buffer {
  margin-top:20px;
}

@media(max-width:767px){
  #friends{
    display: block;
    margin: auto;
    width: 45%;
    text-align: center;
    padding-top: 10%;
  }
  #arenaTitle{
    text-align: center;
    padding-bottom: 10px;
  }

  #arenaImg{
    width: 45%;
    display: block;
    margin: auto;
    padding: 10px;
  }

  #studyTitle{
    text-align: center;
    padding-bottom: 10px;
  }

  #studyhallImg{
    display: block;
    margin: auto;
    width: 35%;
  }

  #profileImg{
    display: block;
    margin: auto;
    width: 35%;
  }

  #char{
    padding-top: 10px;
    text-align: center;
  }

  #lvl{
    text-align: center;
  }
  .hpbar{
    width: 30%;
    margin: auto;
    padding-bottom: 5%;
  }
}

@media(min-width:767px){
  #arenaImg{
    width: 25%;
    padding: 10px;
  }
  #arenaTitle{
    padding-bottom: 10px;
  }

  #studyTitle{
    float:right;
    padding-right: 5%;
  }

  #studyhallImg{
    float: right;
    width: 25%;
    padding-right: 5%;
  }

  #profileImg{
    display: block;
    margin: auto;
    width: 8%;
  }

  #char{
    text-align: center;
  }

  #lvl{
    text-align: center;
  }

  .hpbar{
    width: 25%;
    margin: auto;
    padding-bottom: 5%;
  }
}
