.top-buffer {
  margin-top:20px;
}
#friends{
  width: 35%;

}
@media(max-width:767px){
  #arenaTitle{
    margin-left: 20%;
  }

  #arenaImg{
    width: 35%;
    display: block;
    margin: auto;
  }

  #studyTitle{
    margin-left: 20%;
  }

  #studyhallImg{
    display: block;
    margin: auto;
    width: 30%;
  }

  #profileImg{
    display: block;
    margin: auto;
    width: 20%;
  }

  #char{
    text-align: center;
  }

  #lvl{
    text-align: center;
  }
  .hpbar{
    width: 30%;
    margin: auto;
    padding-bottom: 5%;
  }
  #friends{
    float: left;
    margin: auto;
  }
}

@media(min-width: 768px){
  #arenaImg{
    width: 40%;
  }

  #studyTitle{
    float:right;
    display: block;
    padding-right: 5%;
  }

  #studyhallImg{
    float: right;
    width: 35%;
  }

  #profileImg{
    display: block;
    margin: auto;
    width: 15%;
  }

  #char{
    text-align: center;
  }

  #lvl{
    text-align: center;
  }

  .hpbar{
    width: 25%;
    margin: auto;
    padding-bottom: 5%;
  }

}
