<h2 class="page-header">DashBoard</h2>
<p>Welcome to the dashboard</p>

<div class="row top-buffer">
  <div class="col-md-12 ">
    <button type="button" class="btn btn-info btn-block">PROFILE</button>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary btn-block">STUDY HALL</button>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
    <button type="button" class="btn btn-danger btn-block">ARENA</button>
  </div>
</div>
