<h2 class="page-header">Register your character</h2>
<p>This is where you create your character!</p>
<form (submit)="onCharacterSubmit()">
  <div class="form-group">
    <label>Character Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="char-image">
      <img id="image" src={{img.src}} alt={{img.alt}}>
      <a class="left carousel-control" (click)="moveLeft()" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" (click)="moveRight()" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Confirm">
</form>
