<h2 class="page-header">Register your character</h2>
<p>This is where you create your character! GLHF</p>
<form (submit)="onCharacter()">
  <div class="form-group">
    <label>Character Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>IMAGE</label>
    <div class="char-image">
      <img id="image" src={{img.src}} alt={{img.alt}}>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Confirm">
</form>
