
<div class="row">
  <div class="col-md-12 text-center">
    <h1>Fight Mode</h1>
    <p>Write something usefull over here</p>
    <h3>{{winner}}</h3>
    <button (click)="doStartGame('playerOne', 'computer')">Start Round</button>
</div>
<div class="col-md-4">
  <p>{{name}}</p>
  <div class="progressPlayer">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
      {{hp}}/200 HP
    </div>
  </div>
</div>
<div class="col-md-4 text-center">
  <h3>VS</h3>
</div>
<div class="col-md-4">
  <p>Computer</p>
  <div class="progressComputer">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
    aria-valuemin="0" aria-valuemax="100" style="width:100%">
    {{compHp}}/200 HP
    </div>
  </div>
</div>
<div class="col-md-6">
    <a><img id="char" src="{{img}}" alt="img1"></a>
    <div class="buttons">
    <button (click)="setMove('strike')">Strike</button>
    <button (click)="setMove('protect')">Protect</button>
    <button (click)="setMove('haymaker')">Haymaker</button>
  </div>
  </div>
  <div class="col-md-6">
      <a><img id="charComp" src="http://webshare.mah.se/ae3529/boss.png" alt="boss"></a>
  </div>
</div>
