/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .container{
    width: 75%;
  }
  #char{
    width: 40%;
    padding: 2%;
    float: left;
  }
  #charComp{
    width: 40%;
    padding: 2%;
    float: right;
  }
  .buttons{
    padding: 3%;
  }
}

.container{
  background-image: url("http://webshare.mah.se/ae3529/winter.jpg");
}
#char{
  width: 40%;
  padding: 5%;
}
#charComp{
  width: 40%;
  padding: 5%;
  float: right;
}
.name{
  text-align: center;
}
#cMove{
  text-align: center;
}
#pMove{
  text-align: center;
}
#buttons{
  background-color: black;
  align-self: auto;
}
