<div class="jumbotron text-center">
  <h1>MAH GAME APP</h1>
  <p class="lead"> Welcome to this gamified mah app</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>HELLOO</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>HELLOO 2</p>
  </div>
  <div class="col-md-4">
    <h3>JWT TOKEN</h3>
    <p>HELLOO 3</p>
  </div>
</div>
