<div class="jumbotron text-center">
  <h1>Clash of the mah fight</h1>
  <p class="lead"> Welcome to Malmö högskolas gamification application</p>
  <app-login></app-login>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <p>Check the frequently asked questions</p>
    <button [routerLink]="['/faq']" class="btn btn-primary btn-block">FAQ</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h4>Creators</h4>
    <p>David and Anders</p>
  </div>
</div>
